.rating {
    background: url("images/star-matrix.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    height: 16px;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    width: 80px;
}
.nostar {
    background-position: 0 0;
}